@import url('https://fonts.googleapis.com/css2?family=Sarina&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

body {
    height: 100vh;
    display: flex;
}

/*------------------------Home Page-------------------------*/

.backgroundimage{
    background-image: url(assets/img/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

/*.backgroundimage {
    background-image: url(assets/img/background.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}*/
    
.titlecenter {
    position: relative;
    text-align: center;
    padding-top: 40vh;
}

.title-homepage {
    font-family: 'sarina', cursive;
    font-size: 10vw;
    color: white;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
    text-align: center;
}

.game-button{
    position: relative
}


.game-button a {
    text-decoration: none;
    color: black;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
    width: 100vw;
    text-align: center;
    position: absolute;
    font-family: 'Permanent Marker', cursive;
    font-size: 6vw;
}

.start-game {
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/*------------------------Memory Bay Title-------------------------*/
.title {
    font-family: 'sarina', cursive;
    text-align: center;
    font-size: 10vw;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
    margin-bottom: 3vh;
    margin-top: 5vh;
}

.main-header {
    display: flex;
    flex-direction: column;
}

.backgroundimage {
    background-image: url(assets/img/background.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
}


.countdown {
    text-align: center;
    padding-bottom: 5vh;
    font-size: 3vh;
    font-family: 'Kaushan Script', cursive;
}

/*------------------------MEMORY GAME ------------------------- */
.card-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.memory-bay {
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    perspective: 1000px;
}

@media only screen and (max-width: 700px) {
  .memory-bay {
    width: 540px;
    height: 540px;
  }
}

@media only screen and (max-width: 600px) {
  .memory-bay {
    width: 440px;
    height: 440px;
  }
}

@media only screen and (max-width: 500px) {
  .memory-bay {
    width: 340px;
    height: 340px;
  }
}

.cards {
    width: calc(25% - 10px);
    height: calc(33.33% - 10px);
    position: relative;
    margin: 5px;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform.5s;
}

.cards:active {
    transform: scale(.97);
    transition: transform .2s;
}
    
.cardfront,
.cardback {
    width: 100%;
    height: 100%;
    padding: 2x;
    border-radius: 5px;
    position: absolute;
    backface-visibility: hidden;
    border: solid black 1px;
}

.cardfront {
    transform: rotateY(180deg);
}

.cards.flip {
    transform: rotateY(180deg);
}

/*------------------------REFRESH BUTTON------------------------- */

.button {
    height: 10vh;
    position: relative;
}

.play-again{
    position: absolute;
    left: 50%;
    top: 30%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: 'Kaushan Script', cursive;
}

.btn-4{
    border-radius: 50px;
    border: 1px solid black;
    color: black;
    overflow: hidden;
    background-color: rgba(150, 240, 243, 0.747);
    width: 150px;
    font-size: 20px;
}

.btn{
    cursor: pointer;
    padding: 25px 80px;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s
}
